.text-center{
    text-align: center;
}

.mb-8{
    margin-bottom: 8rem;
    @include device(tab-port){
        margin-bottom: 4rem;
    } 
}

.mb-6{margin-bottom: 6rem;}

.mb-4{margin-bottom: 4rem;}

.mb-2{margin-bottom: 2rem;}

.mt-8{
    margin-top: 8rem;
    @include device(tab-port){
        margin-top: 4rem;
    } 
}

.mt-6{margin-top: 6rem;}

.mt-4{margin-top: 4rem;}

.mt-2{margin-top: 2rem;}

.my-8{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.my-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}