.text-center{
    text-align: center;
}

.mb-8{margin-bottom: 8rem;}

.mb-6{margin-bottom: 8rem;}

.mb-4{margin-bottom: 8rem;}

.mb-2{margin-bottom: 8rem;}

.my-8{
    margin-top: 8rem;
    margin-bottom: 8rem;
}