.header{
    position: relative;
    background-image: linear-gradient(to right bottom, rgba($color-light-green,0.8), rgba($color-dark-green,0.8)), url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    height: 95vh;
    clip-path: polygon(0 0,100% 0,100% 78vh,0 100%);

    @media (min-resolution: 192dpi) and (min-width : 37.5em) , (min-width : 125em){
        background-image: linear-gradient(to right bottom, rgba($color-light-green,0.8), rgba($color-dark-green,0.8)), url(../img/hero.jpg)
    }
    
    @include device(tab-land){
        clip-path: polygon(0 0,100% 0,100% 83vh,0 100%);
    }

    @include device(tab-port){
        clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
    }
    
    @include device(phone){
        clip-path: polygon(0 0,100% 0,100% 90vh,0 100%);
    } 

    &__logobox{
        position: absolute;
        top: 40px;
        left: 40px;
        height: 35px;
    }

    &__logo{
        height: 35px;
    }

    &__textbox{
        position: absolute;
        top: 40%;
        right: 50%;
        transform: translate(50% ,-50%);
        text-align: center;
    }
}