$color-light-green : #7ed56f;
$color-medium-green : #55c57a;
$color-dark-green : #28b485;
$color-white : #fff;
$color-black : #000;
$color-gray-100 : #f7f7f7;
$color-gray-200 : #777;
$color-light-orange: #ffb900;
$color-dark-orange: #ff7730;
$color-light-blue: #2998ff;
$color-dark-blue: #5043fa;


$font-default : 1.6rem;

$font-weight-thin : 100;
$font-weight-medium : 300;
$font-weight-regular : 400;
$font-weight-bold : 700;
$font-weight-thick : 900;

$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;